 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row title">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text">
                <div class="col-lg-4 col-lg-offset-2">
                    <img class="avatar" src="img/avatar_260x260.png" alt="Avatar"/>
                </div>
                <div class="col-lg-4">
                    <p>Olá!</p>
                    <p>Me chamo <b>Fernanda</b> e desde criança gostava de desenhar e criar coisas.</p>
                    <p>Há 2 anos venho estudando e me aventurando no mundo da <b>ilustração digital</b>, redescobrindo minha paixão.</p>
                    <p>Através do meu projeto <b>Divertons</b> ilustro momentos, pessoas e desenvolvo <b>identidade visual</b> para marcas ou produtos com o meu <b>estilo próprio</b> e de <b>forma personalizada</b>.</p>
                    <p>Espero fazer parte de algum momento seu.</p>
                    <p>Até mais!</p>
                </div>
            </div>
        </div>
    </section>






